{% load bootstrap4 %}
{% load static %}
<! DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type"
		content="text/html; charset=utf-8">
		<meta name="viewport"
		content="width=device-width, instal-scale=1, shrinkto-fit=no">
		<title>{% block title %}Главная{% endblock %}-Распознавание документов </title>
		{% bootstrap_css %}
		<link rel="stylesheet" type="text/css">
		{% bootstrap_javascript jquery='slim' %}
		<style>
   			h1 {
    		color: 003333; /* Цвет текста */
   			}
   			img.main-image {
    		width: 600px;
			}
  		</style>
	</head>
	<body class="container-fluid">
		<header class="mb-4">
			<h1 class="display-1" >Документы</h1>
		</header>
		<div class="row">
			<ul class="col nav justify-content-end border">
				{% if user.is_authenticated %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Профиль</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="{% url 'main:profile' %}">Мои документы</a>
						<a class="dropdown-item" href="{% url 'main:profile_change' %}">Изменить профиль</a>
						<a class="dropdown-item" href="{% url 'main:password_change' %}">Изменить пароль</a>
					</div>
				</li>
				<li class="nav-item"><a class="nav-link" href="{% url 'main:logout' %}">Выйти</a></li>
				{% else %}
				<li class="nav-item"><a class="nav-link" href="{% url 'main:register' %}">Регистрация</a></li>
				<li class="nav-item"><a class="nav-link" href="{% url 'main:login' %}">Вход</a></li>
				{% endif %}
			</ul>
		</div>
		<div class="row">
			<nav class="col-md-auto nav flex-column border">
				{% if user.is_authenticated %}
				{% for priority in priorities %}
				<a  class="nav-link" href="{% url 'main:by_priority' pk=priority.pk %}">{{ priority.name}}</a>
				{% endfor %}
				{% else %}
				<a  class="nav-link root" href="{% url 'main:index' %}">Главная</a>
				{% endif %}
			</nav>
			<section class="col border py-2">
				{% bootstrap_messages %}
				{% block content %}
				{% endblock %}
			</section>
		</div>
		<footer class="mt-3">
			<p class="text-right front-italic">&copy; Завражнова&Меркулов, 2021 г.</p>
		</footer>
	</body>
</html>