{% extends "layout/basic.html" %}

{% load thumbnail %}
{% load static %}
{% load bootstrap4 %}

{% block title %}{{ priority }}{% endblock %}

{% block content %}
<h2 class="mb-2">{{ priority }}</h2>
{% if docs %}
<ul class="list-unstyled">
    {% for doc in docs %}
    <li class="media my-5 p-3 border">
        {% url 'main:detail' priority_pk=priority.pk pk=doc.pk as url %}
        <a href="{{ url }}{{ all }}">
        {% if doc.image %}
        <img class="mr-3" src="{% thumbnail doc.image 'default' %}">
        {% else %}
        <img class="additional-image" src="{% static 'main/icon.jpg' %}">
        {% endif %}
        </a>
        <div class="media-body">
          <h3><a href="{{ url }}{{ all }}">{{ doc.title }}</a></h3>
          <div>{{ doc.content }}</div>
          <p class="text-right">{{doc.published}}</p>
        </div>
    </li>
    {% endfor %}
</ul>
{% bootstrap_pagination page  %}
{% endif %}
{% endblock %}
