{% extends "layout/basic.html" %}

{% load bootstrap4 %}

{% block title %}{{ doc.title }} - {{ doc.priority.name }}{% endblock %}

{% block content %}
<div class="container-fluid mt-3">
    <div class="row">
        {% if doc.image %}
        <div class="col-md-auto"><img src="{{ doc.image.url }}" class="main-image"></div>
        {% endif %}
        <div class="col">
            <h2>{{ doc.title }}</h2>
            <p>{{ doc.content }}</p>
            <p class="text-right font-italic">Документ распознан {{ rb.published }}</p>
        </div>
    </div>
</div>
<p><a href="{% url 'main:by_status' pk=rb.status.pk %}{{ all }}">Назад</a></p>
{% endblock %}
