{% extends "layout/basic.html" %}

{% block content %}
<h2>Рады приветствовать Вас!</h2>
<p>Для просмотра документов или распознавания текста, пожалуйста, войдите в систему</p>

{% endblock %}
