{% extends "layout/basic.html" %}

{% block title %}Удаление документа - Профиль пользователя{% endblock %}

{% block content %}
<h2>Удаление документа</h2>
<div class="container-fluid mt-3">
    <div class="row">
        {% if doc.image %}
        <div class="col-md-auto"><img src="{{ doc.image.url }}" class="main-image"></div>
        {% endif %}
        <div class="col">
            <h2>{{ doc.title }}</h2>
            <p>ТЕкст: {{ doc.content }} {{ doc.content }}</p>
            <p class="font-italic">Приоритет: {{ doc.priority }}</p>
            <p class="text-right font-italic">Документ распознан {{ doc.published }}</p>
        </div>
    </div>
</div>
<form method="post">
    {% csrf_token %}
    <input type="submit" value="Удалить">
</form>
{% endblock %}
