{% extends "layout/basic.html" %}

{% load thumbnail %}
{% load static %}

{% block title %}Профиль пользователя{% endblock %}

{% block content %}
<h2>Профиль пользователя {{ user.username }}</h2>
{% if user.first_name and user.last_name %}
<p>Здравствуйте, {{ user.first_name }} {{ user.last_name }}!</p>
{% else %}
<p>Здравствуйте!</p>
{% endif %}
<p><a href="{% url 'main:profile_doc_add1' %}">Добавить документ картинкой</a></p>
{% if docs %}
<h3>Ваши документы</h3>
<ul class="list-unstyled">
    {% for doc in docs %}
    <li class="media my-5 p-3 border">
        {% url 'main:profile_doc_detail' pk=doc.pk as url %}
        <a href="{{ url }}">
        {% if doc.image %}
        <img class="mr-3" src="{% thumbnail doc.image 'default' %}">
        {% else %}
        <img class="mr-3" src="{% static 'main/empty.jpg' %}">
        {% endif %}
        </a>
        <div class="media-body">
            <h3><a href="{{ url }}">{{ doc.title }}</a></h3>
            <p class="text-right mt-2">
                <a href="{% url 'main:profile_doc_change' pk=doc.pk %}">Исправить</a>
                <a href="{% url 'main:profile_doc_delete' pk=doc.pk %}">Удалить</a>
            </p>
        </div>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}