{% extends "layout/basic.html" %}

{% block title %}{{ bb.title }} - Профиль пользователя{% endblock %}

{% block content %}
<div class="container-fluid mt-3">
    <div class="row">
        {% if doc.image %}
        <div class="col-md-auto"><img src="{{ doc.image.url }}" class="main-image"></div>
        {% endif %}
        <div class="col">
            <h2>{{ doc.title }}</h2>
            <p>Текст: {{ doc.content }} {{ doc.content }}</p>
            <p class="font-italic"> Приоритет: {{ doc.priority }}</p>
            <p class="text-right font-italic">Документ распознан {{ doc.published }}</p>
        </div>
    </div>
</div>
<p><a href="{% url 'main:profile' %}">Назад</a></p>
{% endblock %}
