{% extends "layout/basic.html" %}

{% load bootstrap4 %}

{% block title %}Добавление документа - Профиль пользователя{% endblock %}

{% block content %}
<h2>Добавление документа</h2>
<form method="post" enctype="multipart/form-data" accept="image/*">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    {% buttons submit='Добавить' %}{% endbuttons %}
</form>
{% endblock %}
